	
	header {
	
	}
	* {
	box-sizing: border-box;
	}
	img {
		color: ();
		font-size: 18px;
	}

/* Header */
	.column, .columna, .columnab, .columnb {
		align-items: center;
		text-align: center;
		border: solid;
		border-width: thin;
		max-height: 20em;
	}
	.column {
		flex: 33%;
	}
	.columna {
		width: 100%;
		
	}
	.columnab {
		width: 22%;
		
	}
	.columnb {
		width: 17%;
		
	}
	.row {
		min-height: 10em;
		display: flex;
		flex-wrap: wrap;
		background-color: ();
	}
/* Navigation Section */
	.dropbtn {
		background-color: ();
		color: ();
		font-size: 75%;
		font-family: 'Solway', serif;
		padding: 16px;
		border: none;
		cursor: pointer;
		width: 100%;
	}

	.dropbtn:hover, .dropbtn:focus {
		background-color: ();
	}

	.dropdown {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.dropdown-content {
		display: none;
		width: 100%;
		position: absolute;
		background-color: ();
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: ();
		font-family: 'Solway', serif;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown a:hover {background-color: ();}

	.show {display: block;}
/* Body */
	@media screen and (max-width: 992px) {
		.column {
			flex: 33%;
		}
	}
	@media screen and (max-width: 600px) {
		.row {
			flex-direction: column;
		}
	}
	body {
	background-color: ();
	}
	/* Redsign */
	h1 {
		color:();
	}
	h2 {
		
	}
	h3 {
		
	}
	h4 {
		
	}
	h5 {
		
	}
	/* Permanant Use */
	h6 {
		color: ();
		font-size: 55%;
		font-family: 'Solway', serif;
	}
	#footer {
		position: relative;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	/* Color Codes (from Bolivia Salt Flats)
	head - #FF9176
	background-color - #D2C4C4
	photo background - #FECE9D
	main | text - #352436
	side a | text - #BC8A96
	nav | text - #D2C4C4
	nav | background - #FEB384
	
	 All Colors LtR>
	 
	 - #FECE9D (X)
		Photo Background
		Nav Hover
		
	 - #FEB384 (X)
		Nav Background
		
	 - #FF9176 (X)
		Header Background
		
	 - #BC8A96 (X)
		Side Text
		
	 - #616594
	 
	 
	 
	 - #352436 (X)
		Main Text
		
	 - #0A050B
		
	 - #0061A0
		Nav Text Color
	 - #54C1E2
		
	 - #D2C4C4 (X)(X)
		Nav Text
	*/
	